 /* universal reset */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* styling for navigation area, flex, anchor, list style*/
.navigation{
    position: fixed;
    width: 100%;
    /* zindex to hide text while scrolling */
    z-index: 999;
    padding: 30px;
    transition: all 0.3s ease;
    /* check for font */
}

.navigation.sticky{
    padding: 15px 0;
    background: crimson;
}
.navigation .navflex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navflex{
    padding: 0 80px;
    margin: auto;
    max-width: 1300px;
}

.navigation .menu li {
    list-style: none;
    display: inline;    
}

.navigation .menu li a{
    color: white;
    font-size: 18px;
    margin-left: 25px;
    transition: color 0.3s ease; 
}

.navigation .banner a{
    font-size: 35px;
    color: white;
}

.navigation .menu li a:hover{
    color: crimson;
}

.navigation.sticky .menu li a:hover{
    color: white;
}


/* home section styling */

.home{
    display: flex;
    background: url("images/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color:white;
    min-height: 500px;
}
.home .navflex {
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
font-size: 26px;
}
.home .home-content .text-2{
font-size: 70px;
margin-left: -3px;
}
.home .home-content .text-3{
font-size: 35px;
margin: 5px 0;
}

.home .home-content .text-3 span{
    color: red;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section */
.about{
    background-color: grey;
    border-radius: 3rem;
}


.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
    
}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -11px;
    left: 50%;
    padding: 5px;
    background: whitesmoke;
    border-radius: 2rem;
    transform: translateX(-50%);
    font-size: 20px;
    color: crimson;

}

.about .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .right {
    width: 60%;
    padding-right: 180px;
}

.about .about-content .right p{
    text-align: justify;

}

.about .about-content .left img{
    margin-left: 200px;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 1rem;
}



/* Projects section */
.projects{
    background-color: rgb(147, 146, 146);
    border-radius: 2rem;
}
.projects .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.projects .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
    
}

.projects .title::after{
    content: "completed";
    position: absolute;
    bottom: -11px;
    left: 50%;
    padding: 5px;
    background: whitesmoke;
    border-radius: 2rem;
    transform: translateX(-50%);
    font-size: 20px;
    color: crimson;

}

.projflex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 400px;
    padding: 0% 2% 1% 2% ;
    border: 6px solid crimson;
    border-radius: 2rem;
}

.box:hover {
    background-color: white;
}

.container {
    box-sizing: border-box;
    padding: 10% 0% 10% 0%;
    color: black;
}

.container:hover {
    color: crimson;
}

.box-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.projects .projflex a{
    display: inline-block;
    align-items: center;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 9px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.projects .projflex a:hover{
    color: crimson;
    background: none;
}
/* skills section */
.skills{
    background-color: grey;
    border-radius: 3rem;
}

.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
    
}

.skills .title::after{
    content: "what I know";
    position: absolute;
    bottom: -11px;
    left: 50%;
    padding: 5px;
    background: whitesmoke;
    border-radius: 2rem;
    transform: translateX(-50%);
    font-size: 20px;
    color: crimson;
}

.skills .skills-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skills .skills-content .column{
    width: 40%;
    padding-left: 300px;
}

.skills .skills-content .left .text{
    font-size: 2 0px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 9px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 14px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 3px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right .span{
    font-weight: 400;
    font-size: 20px;
}

.skills .skills-content .right .line{
    height: 6px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before{
    width: 70%;
}
.skills-content .right .css::before{
    width: 50%;
}
.skills-content .right .javascript::before{
    width: 40%;
}

/* footer styling */

/* contact me section */
section{
    padding: 100px 0;
}

.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
    
}

.contact .title::after{
    position: absolute;
    bottom: -11px;
    left: 50%;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
    font-size: 20px;
    color: crimson;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: crimson;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}
form .submit{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 9px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

form .submit:hover{
    color: crimson;
    background: none;
    cursor: pointer;

}

footer{
    text-align: center;
    background: url("images/banner.jpg");
    padding: 20px 23px;
    color: crimson;
}

footer span{
    color: white;
    text-decoration: none;
}

footer span a:hoover{
    text-decoration: underline;
}


/* responsive webpage */

@media (max-width: 1104px){
    .home .navflex {
        margin-left: 0px;
    }

}

/* for IPad */

@media (max-width: 820px){
    .navflex{
        padding: 0 50px;
    }
    .navigation .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        text-align: right;
        padding-top: 50px;
        padding-right: 45px;
    }
    .navigation .menu li{
        display: block;
    }
    .navigation .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
    .home .home-content .text-2{
        font-size: 70px;
        }
    .home .home-content .text-3{
        font-size: 35px;
        }

}


/* for IPhone SE */

@media (max-width: 375px){

    .home img{
        height: 400px;
        width: 400px;
        object-fit: contain;
        border-radius: 6px;
    }
    .navflex{
        padding: 0 50px;
    }
    .navigation .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        text-align: right;
        padding-top: 50px;
        padding-right: 45px;
    }
    .navigation .menu li{
        display: block;
    }
    .navigation .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
    .home .home-content .text-2{
        font-size: 70px;
        }
    .home .home-content .text-3{
        font-size: 35px;
        }

}